header{
  background-color: rgb(249, 248, 249);
  color: black;
}

.logo_resize{
    width: 90%
}

.heading_left{
  margin-left: 45%
}
 
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { ... }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .logo_resize{
        width: 150%
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    .logo_resize{
        width: 100%;
    }

    .heading_left{
      margin-left: 50%
    }
  }
  
  /* X-Large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    .heading_left{
      margin-left: 50%
    }
   }
  
  /* XX-Large devices (larger desktops, 1400px and up)*/
  @media (min-width: 1400px) {}